@import "./default";
@import "./design";



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/bg-icons.png);
  background-size: cover;
  // background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
}


.hidden {
  visibility: hidden;
}



h4 {
  max-width: 20ch;
  font-size: 12pt;
}

#error {
  color: red;
  font-size: 1.2rem;
}

.done {
  background-color: #b8b8b8 !important;
  text-decoration: line-through;
  color: #717171b6 !important;
}

.input-group {
  padding: 0;
}

#todoInput {
  padding: 1.5rem 0 1.5rem 1rem;
  font-size: 1.2rem;

  &:focus {
    box-shadow: inset -2px 4px 10px #0000004e;
    border: 1px solid rgb(182, 182, 182);
  }
}

.btn-sub {
  background-color: #333333;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0 2rem;


}

.btn-sub:hover {
  filter: brightness(150%);
  color: #ffffff;
}

.btn-sub:focus {
  box-shadow: none;
}


#output {
  padding-bottom: 2rem;
}

/* 
#DD6271
#94516C
*/

.box {
  box-shadow: 3px 5px 7px #00000036;
  background-color: #ffffffe0;
  border-radius: 10px;
  padding: 0.7rem;
  margin: 0.5rem 0rem;
}

.contain {
  display: flex;
  align-items: center;
}

.btn-remove {
  // padding: 8px 8px;
  background-color: transparent;
  margin-right: 1rem;
  border-radius: 40%;
}

.fa-trash-alt {
  font-size: 20pt;
  color: #000000;
}

.color {
  background-color: #37d7b2 !important;
  box-shadow: inset 5px 5px 8px #0000002d !important;
  // background-color: #DD6271 !important;
  background-image: url(/images/check_white.png) !important;
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center;
  // background-color: rgb(25, 165, 86) ;
  /* opacity: 100%; */
}

.btn-check {
  background-color: #ffffffb4;
  border: 1px solid #c9c9c9a5 !important;
  // background-image: url(/images/minus.png);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;

  // border: none !important;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.183), inset 2px 2px 0px 2px #ffffff98;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
}

.btn-check:focus {
  box-shadow: none;
}

@media(min-width: 768px) {
  h4 {
    max-width: 30ch;
    font-size: 16pt;
  }

}

@media(min-width: 1024px) {
  h4 {
    max-width: 35ch;
    font-size: 16pt;
  }

}

@media(min-width: 1200px) {

  .btn-check {
    border: 2px solid #000000;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    margin-left: 1rem;
  }

  .fa-trash-alt {
    font-size: 28pt;
    color: #000000;
  }

  h4 {
    max-width: 60ch;
    font-size: 18pt;
    // padding: 1rem 0;
  }

}