* {
	box-sizing: border-box;
}

body {
  background-color: #cccccc;  
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 1rem;
  color: #56C8BB;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  
}

.form {
  width: 90vw;
  background: linear-gradient(0deg, rgba(35,47,65,1) 0%, rgba(53,71,94,1) 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  align-content: center;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem !important;
}

.input {
  width: 100%;
  color: #ffffffc7;
  border: none;
  border-bottom: 2px solid #ffffff;
  line-height: 1.25;
  outline: none;
  background-color: transparent;
  border-radius: 0;
  padding-left: 0;
  margin-top: 1rem;
  
  &:focus {
    color: #ffffffdc;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #ffffff;
    background-clip: padding-box;
    background-color: transparent;
  }
}

.form-group label {
  position: absolute;
  bottom: -5px;
  left: 5px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.label-content {
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  color: #ffffff;
}

input:valid{
  box-shadow:none !important;
}
input:invalid {
  box-shadow: none !important;
}

.form-group .input:focus + .label .label-content {
  transform: translateY(-175%);
  font-size: 0.8rem;
  color: #ffffff6b;
  box-shadow: none;
}

// klassen läggs till med javascript för att flytta label upp när användare fyller i input. 
.move {
  transform: translateY(-175%);
  font-size: 0.8rem;
  color: #ffffff6b;
}


small {
  padding-left: 0.3rem;
  margin-top: -1rem;
  padding-bottom: 0.5rem;
  color: rgb(199, 0, 0);
}

.button {
  background-color: #56C8BB;
  padding: 5px 20px;
  border: none;
  border-radius: 50px;
  color: white;
  margin-top: 2rem;
 
  text-align: center;
  cursor: pointer;
  
  &:hover {
    filter: brightness(125%);
  }
  &:focus {
    border: none;
    outline: none;
  }
}

#users {
  background: linear-gradient(0deg, rgba(35,47,65,1) 0%, rgba(53,71,94,1) 100%);
  width: 90vw;
  height: 28rem;
  padding: 1rem;
  overflow: auto;
}

// #list {
//     overflow: auto;
// }

.list-element {
  padding: 0 !important;
  margin-bottom: 0.5rem;
  // display: flex;
  // flex-direction: column;
}

#btns {
  display: flex;
  width: 5.5rem;
  height: 2.5rem;
  // position: relative;
}

// .changeParent {
  
//   position: relative;
// }

// .change {
//   z-index: 1;
//   height: 2rem;
//   width: 2.2rem;
//   position: absolute;
//   left: 0;
//   cursor: pointer;
// }

.btn-change {
  background-color: #56C8BB;
  color: #ffffff;
  height: 2rem;
  width: 2rem;
  padding: 3px 8px;
  margin-right: 0.5rem;
  // position: absolute;
  left: 0;
  // height: 2rem;
  // width: 3rem;
  &:hover {
    filter: brightness(125%);
    color: #ffffff;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.fa-pen {
  pointer-events: none;
}

.btn-remove {
  background-color: #7e7e7e;
  height: 2rem;
  width: 2rem;
  padding: 2px 3px;
  font-weight: 700;
  // position: absolute;
  
  right: 0;
  &:hover {
    filter: brightness(125%);

  }
  &:focus {
    border: none;
    outline: none;
  }
}

.fa-times-circle {
 pointer-events: none;
 font-size: 18pt;
 display: flex;
 color: #ffffff;
}

hr {
  background-color: #ffffff;
}


@media (min-width: 1040px) {

  .content {
    flex-direction: row;
    height: 100vh;
  }
  
  .form {
      width: 30vw;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      margin-bottom: 0;
  }

  #users {
    width: 30vw;
    height: 28rem;
    padding: 1rem 2rem;
  }

  #list {
    overflow: auto;
  }

  .button {
    margin-bottom: 4rem;
  }
}